USE [DB_A72B95_drp]
GO
/****** Object:  Table [dbo].[PreRegistro]    Script Date: 30/11/2022 09:40:36 p. m. ******/
DROP TABLE [dbo].[PreRegistro]
GO
/****** Object:  Table [dbo].[PreRegistro]    Script Date: 30/11/2022 09:40:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PreRegistro](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NULL,
	[genero] [nvarchar](1) NULL,
	[edad] [int] NULL,
	[fechaNacimiento] [date] NULL,
	[estadoCivil] [nvarchar](1) NULL,
	[telefono] [nvarchar](max) NULL,
	[correo] [nvarchar](max) NULL,
	[tieneReligion] [bit] NULL,
	[religion] [nvarchar](100) NULL,
	[tieneCongregacion] [bit] NULL,
	[congregacion] [nvarchar](100) NULL,
	[tieneEnfermedad] [bit] NULL,
	[enfermedad] [nvarchar](100) NULL,
	[tieneRetiroT] [bit] NULL,
	[invitador] [nvarchar](100) NULL,
	[descripcion] [nvarchar](max) NULL,
	[info] [nvarchar](max) NULL,
	[notas] [nvarchar](max) NULL,
	[idSuscriptor] [int] NULL,
	[estatus] [smallint] NULL,
	[clase] [varchar](max) NULL,
	[ministerios] [varchar](max) NULL,
 CONSTRAINT [PK_PreRegistro] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[PreRegistro] ON 

INSERT [dbo].[PreRegistro] ([id], [nombre], [genero], [edad], [fechaNacimiento], [estadoCivil], [telefono], [correo], [tieneReligion], [religion], [tieneCongregacion], [congregacion], [tieneEnfermedad], [enfermedad], [tieneRetiroT], [invitador], [descripcion], [info], [notas], [idSuscriptor], [estatus], [clase], [ministerios]) VALUES (1, N'Juan Antonio Garcia Morales', N'H', 37, CAST(N'1985-11-29' AS Date), N'C', N'', N'', 1, N'ninguna', 1, N'ninguna', 1, N'ninguna', 0, N'Eduardo Aguilar', NULL, NULL, NULL, NULL, 1, N'negro', N'ninguno')
INSERT [dbo].[PreRegistro] ([id], [nombre], [genero], [edad], [fechaNacimiento], [estadoCivil], [telefono], [correo], [tieneReligion], [religion], [tieneCongregacion], [congregacion], [tieneEnfermedad], [enfermedad], [tieneRetiroT], [invitador], [descripcion], [info], [notas], [idSuscriptor], [estatus], [clase], [ministerios]) VALUES (2, N'Gloria de la Cruz Diaz', N'M', 70, CAST(N'1952-11-21' AS Date), N'V', N'', N'', 1, N'cristiana', 1, N'Pan de  Vida', 1, N'ninguna', 1, N'Amalia Mendoza', NULL, NULL, NULL, NULL, 1, N'negro', N'ninguno')
INSERT [dbo].[PreRegistro] ([id], [nombre], [genero], [edad], [fechaNacimiento], [estadoCivil], [telefono], [correo], [tieneReligion], [religion], [tieneCongregacion], [congregacion], [tieneEnfermedad], [enfermedad], [tieneRetiroT], [invitador], [descripcion], [info], [notas], [idSuscriptor], [estatus], [clase], [ministerios]) VALUES (3, N'Jorge Velazquez de la Cruz', N'H', 43, CAST(N'1979-11-21' AS Date), N'S', N'', N'', 1, N'cristiana', 1, N'Pan de  Vida', 1, N'ninguna', 1, N'Amalia Mendoza', NULL, NULL, NULL, NULL, 1, N'negro', N'ninguno')
GO
SET IDENTITY_INSERT [dbo].[PreRegistro] OFF
