*, *:after, *:before {
    margin: 0;
    padding: 0;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    /* eliminar margenes internos y externos*/
    margin: 0;
    padding: 0;
}

.otro{
    background-color: #5390d3;
    background-color: #0866d7;
    color: #004799;
    background-color: #05488c;
}
h1{
    color:#E6E6E6;
    font-size: 20px;
    font-weight: bold;
    /* font-style: italic; */
    font-family :Arial, Helvetica, sans-serif
}

body {
    padding: 0px;
    margin: 0px;
    /* padding-top: 50px;
    padding-bottom: 20px; */
    background-color: #F0DFD5 !important;
    color: black !important;
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.Subtitulo {
    color: #764F09;
    font-size: 16px;
    font-weight: bold;
    /* font-style: italic; */
    font-family: Arial, Helvetica, sans-serif
}
.barraEncabezado {
    background: #3e210f;
}
.Encabezado {
    box-sizing: border-box;
    z-index: 1000;
    background-color: #9D4B19;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    /* min-width: 150%;   */
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('img/Encabezado.png') no-repeat left top;
    /* background-position: left top; */
}
.Captura {
    box-sizing: border-box;
    z-index: 2000;
    /* margin: 2px;
    padding: 2px; */
    background-color: #0866d7;
    top:225px;
    left :10px;
    height: 350px; 
    /* min-width: 100px;  */
    /* width: 150px;  */
    /* max-width: 200px;  */

    /* min-height: 100px; */
 
    /* max-height: 200px; */
 

    position: absolute;
}
.Pie {
    box-sizing: border-box;
    z-index: 1000;
    background-color: #0866d7;
    margin: 0;
    padding:0;  

    top:110%;
    width: 100%; 
    height: 800px;

    position: absolute;
    background: url('img/pie.png') no-repeat left bottom ;   
}







/**     Etiqueta         **/
.Etiqueta {
    box-sizing: border-box;
    margin: 2px 2px;
    padding: 5px 2px;
    display: inline-block;
    /*width:100%;*/
}

    .Etiqueta.ColorTema {
        color: black;
    }

/***  tamaños  de boton ***/

/*
min-width: 270px;
max-height: 20px;
 */
.Etiqueta.Ch {
    min-width: 6em;
}

.Etiqueta.Med {
    width: 12em;
}

.Etiqueta.Gde {
    width: 20em;
}

/**     cajas de texto          **/


.CajaTexto, input[type=text] , input[type=number] , input[type=datetime] {
    box-sizing: border-box;
    min-width: 200px;
    max-height: 30px;
    margin: 4px 2px;
    padding: 2px 2px;
    font-size: medium;
    /*width:100%;*/
}

    .CajaTexto.BordeIzq, input[type=text], input[type=number], input[type=datetime] {
        border: 1px solid silver;
        box-shadow: 1px 1px 1px 1px black;
        border-left-width: 5px;
        border-left-style: inset;
        border-left-color: #9D4B19;
    }

    .CajaTexto.BordeAbajo {
        box-shadow: 1px 1px 1px 2px silver;
        border-top-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 3px;
        border-bottom-style: inset;
        border-bottom-color: #9D4B19;
    }

.CajaTexto.ColorTema {
    background: white;
    color: black;
}

.CajaTexto.Ch {
    min-width: 6em;
}

.CajaTexto.Med {
    width: 12em;
}

.CajaTexto.Gde {
    width: 20em;
}

/**        estilo  de    textarea         ***/

textarea {
    box-sizing: border-box;
    min-width: 350px;
    max-height: 30px;
    margin: 4px 2px;
    padding: 2px 2px;
    width: 100%;
    border: 1px solid silver;
    box-shadow: 1px 1px 1px 2px black;
    border-left-width: 5px;
    border-left-style: inset;
    border-left-color: #9D4B19;
    /*min-height: 50px;
    padding: 0 12px;
    line-height: 1.42857;
    color: #555;
    background: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;

    -moz-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -o-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;*/
}


    .CajaTexto:focus, .CajaTexto:hover, .CajaTexto.BordeIzq:hover, textarea:hover, input:focus, input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=email]:focus {
        border-bottom-width: 2px;
        border-bottom-style: inset;
        border-bottom-color: #9D4B19;
        color: black;
    }





/**        estilo  de    CajaVerificacion         ***/


 .CajaVerificacion , input[type=checkbox] {
    box-sizing: border-box;
    min-width: 20px;
    max-height: 30px;
    margin: 4px 2px;
    padding: 2px 2px;
}


    .CajaVerificacion.BordeIzq, input[type=checkbox] {
        border: 1px solid silver;
        box-shadow: 1px 1px 1px 1px black;
        border-left-width: 5px;
        border-left-style: inset;
        border-left-color: #9D4B19;
    }




    .CajaVerificacion.BordeAbajo {
        box-shadow: 1px 1px 1px 2px silver;
        border-top-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 3px;
        border-bottom-style: inset;
        border-bottom-color: #9D4B19;
    }

.CajaVerificacion.ColorTema {
    background: white;
    color: black;
}
 
.CajaVerificacion.BordeIzq:focus, input[type="checkbox"]:focus {
    border-bottom-width: 2px;
    border-bottom-style: inset;
    border-bottom-color: red;
    color:black;

 }

 .CajaVerificacion.Ch {
        min-width: 6em;
 }

.CajaVerificacion.Med {
        width: 12em;
 }
 .CajaVerificacion.Gde {
        width: 22em;
 }


/**        estilo  de    ListaDespegable         ***/

.ListaDespegable , select {
    box-sizing: border-box;
    min-width: 50px;
    max-height: 30px;
    margin: 4px 2px;
    padding: 2px 2px;
    font-size: medium;
}


.ListaDespegable.ColorTema {
    background: white;
    color: black;
}

    .ListaDespegable.BordeIzq, select {
        border: 1px solid silver;
        box-shadow: 1px 1px 1px 1px black;
        border-left-width: 5px;
        border-left-style: inset;
        border-left-color: #9D4B19;
    }

    .ListaDespegable.BordeAbajo {
        box-shadow: 1px 1px 1px 2px silver;
        border-top-width: 0px;
        border-left-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 3px;
        border-bottom-style: inset;
        border-bottom-color: #9D4B19;
    }

    .ListaDespegable:focus, .ListaDespegable.BordeIzq:focus, select:focus {
        border-bottom-width: 2px;
        border-bottom-style: inset;
        border-bottom-color: #9D4B19;
        color: black;
    }

    .ListaDespegable:hover, .ListaDespegable.BordeIzq:hover, select:hover {
        border-bottom-width: 2px;
        border-bottom-style: inset;
        border-bottom-color: #9D4B19;
        color: black;
    }

    select:hover, select:focus {
        border-bottom-width: 2px;
        border-bottom-style: inset;
        border-bottom-color: #9D4B19;
        color: black;
    }


.ListaDespegable.Ch {
    min-width: 6em;
}

.ListaDespegable.Med {
    width: 12em;
}

.ListaDespegable.Gde {
    width: 22em;
}


/**        estilo  de    ListaOpciones         ***/


/**        estilo  de    radio           ***/




.ListaOpciones ,   input[type=radio] {
    box-sizing: border-box;
    min-width: 50px;
    max-height: 30px;
    margin: 4px 2px;
    padding: 2px 2px;
    font-size: medium;
}


    .ListaOpciones.BordeIzq, input[type=radio] {
        border: 1px solid silver;
        box-shadow: 1px 1px 1px 1px black;
        border-left-width: 5px;
        border-left-style: inset;
        border-left-color: #9D4B19;
    }


    .ListaOpciones.BordeAbajo {
        box-shadow: 1px 1px 1px 2px silver;
        border-top-width: 0px;
        border-left-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 3px;
        border-bottom-style: inset;
        border-bottom-color: #9D4B19;
    }

.ListaOpciones.ColorTema {
    /*background:rgba(255,255,255,.3);*/
    background: white;
    color: black;
}

    .ListaOpciones:focus, .ListaOpciones.BordeIzq:focus, input[type=radio]:focus, input[type=radio]:hover {
        border-bottom-width: 2px;
        border-bottom-style: inset;
        border-bottom-color: #9D4B19;
        color: black;
    }

 .ListaOpciones.Ch {
        min-width: 6em;
 }

 .ListaOpciones.Med {
        width: 12em;
 }

 .ListaOpciones.Gde {
        width: 22em;
 }

  /*   botones  */

.Boton {
    box-sizing: border-box;
    display: inline-block;
    margin: 2px;
    font-size: 1em;
    padding: 2px 6px;
    height: 30px;
    text-decoration: none;
    box-shadow: 5px 3px 10px red;
    text-align: center;
    color: white;
}

.Boton.Borde {
    border: 2px solid red;
}


    .Boton.BordeIzq {
        border: 1px solid silver;
        box-shadow: 1px 1px 1px 1px black;
        border-left-width: 5px;
        border-left-style: inset;
        border-left-color: #9D4B19;
    }

    .Boton.BordeAbajo {
        box-shadow: 1px 1px 1px 2px silver;
        border-top-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 3px;
        border-bottom-style: inset;
        border-bottom-color: #9D4B19;
    }
.Boton.BordeArriba {
    border-top-color: red;
    border-top-width: 2px;
    border-top-style: groove;
}
/***  colores de  boton ***/

    .Boton.ColorTema {
        background: #562203;
        color: #E6E6E6;
    }

.Boton.Transparente {
    background: rgba(255, 255, 255,.5);
    /*color: #024959 ;*/
}

/***  tamaños  de boton ***/

.Boton.Ch {
    min-width: 9em;
}

.Boton.Med {
        min-width: 12em;
 }

 Boton.Gde {
        min-width: 22em;
 }

/***  efectos de boton ***/
.Boton.Redondo {
    border-radius: 50px;
}

.Boton.Pestana {
    margin: 1px 1px;
    padding: 1px 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.Boton.Circulo {
    margin: 1px 1px;
    padding: 1px 1px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}


/***  efecto al seleccionar,  eliminar la sombra, debe ir al final para que funcione ***/



.Boton:hover {
/*background:rgba(255, 255, 255,.3);*/
background:rgba(0, 0, 0,.9);

color: #E6E6E6;
    /*box-shadow:5px 3px 10px black ;*/
}

.Boton.BordeIzq:hover {
    background:rgba(255, 255, 255,.2);
    /* background: red; */
    border-bottom-width: 3px;
    border-bottom-style: inset;
    border-bottom-color:  silver;
    color:black;
}

.Boton.BordeAbajo:hover {
    background: rgba(0, 0, 0,.8);
    /* background: red; */
    border-bottom-width: 3px;
    border-bottom-style: inset;
    border-bottom-color: silver;
    color: white;
}

.Boton.BordeArriba:hover {
    /*background:rgba(255, 255, 255,.3);
background:rgba(0, 0, 0,.5);*/
    background: dodgerblue;
    color: #E6E6E6;
    /*box-shadow:5px 3px 10px black;*/
    border-top-color: #1A1A7B;
    border-top-width: 3px;
    border-top-style: groove;
}

   
.Boton.Borde:hover {
    /*background:rgba(255, 255, 255,.3);
background:rgba(0, 0, 0,.5);*/
    background: dodgerblue;
    color: #E6E6E6;
    border: 2px solid dodgerblue;
    /*box-shadow:5px 3px 10px#1A1A7B;*/
}

.Boton.ColorTema:hover {
    box-shadow: 5px 3px 10px red;
}


.Boton.Transparente:hover {
    color: black;
}

.Boton.Redondo:hover {
}


/*.otro {
    background-color: #5390d3;
    background-color: #0866d7;
    color: #004799;
    background-color: #05488c;
}*/

.Validador {
    box-sizing: border-box;
    position: relative;
 
    max-width: 95%;
    height: auto;
    padding: 5px 5px 5px 15px;
    margin-left: 5px;
    visibility: hidden;
    z-index: -100;
    text-align: center;
    font: normal 12px Arial;
    border: solid 2px silver;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
    background: url(Iconos/icoDialogoAyudaColor.png) left center no-repeat;
    background: black;
}

.Validador:after {
    position: relative;
    width: 15px;
    height: 15px;
    top: 100%;
    left: 70%;
    content: '';
    transform: rotate(45deg);
    /*margin-left: -5px;
    margin-top: -5px;
    border-top: 0px solid #1A1A7B;
    border-right: 2px solid #1A1A7B;
    border-bottom: 2px solid #1A1A7B;
    border-left: 0px solid red;
    background: #1A1A7B;*/
}


.Mensaje {
    color: #E6E6E6;
    font-size: 16px;
    font-weight: bold;
    /* font-style: italic; */
    font-family: Arial, Helvetica, sans-serif
}



a {
    display: inline-block;
    min-width: 40px !important;
    max-width: 95px;
    text-decoration: none;
    padding: 2px;
    margin: 2px;
    background-color: transparent;
    color: #562203;
}

    a:active,
    a:hover {
        background-color: rgb(0,0,0,6);
        color: whitesmoke;
        text-decoration: none;
        outline: 0;
        box-shadow: 5px 3px 10px red;
    }



/* Diseño Pie de Página */

.FinalPagina {
    box-sizing: border-box;
    float: left;
    text-align: center;
    left: 0px;
    width: 100%;
    height: 65px;
    padding: 1px 1px;
    font-size1 12px;
    background: #9D4B19;
    z-index: 3000;
    color: silver;
    clear: both;
    position: fixed;
    top: 95.5%;
    /*outline:1px solid red;*/
}
    .FinalPagina a {
        background:transparent;
        color: white;
    }

    .FinalPagina a:hover {
        background: rgba(0, 0, 0,.5);
        color:red;
    }
/*      cambio   diseño  de iconos */
.FinalPagina [class^="icon-"] {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    padding: 2px;
    margin: 5px 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 30%;
    background: rgba(255, 255, 255,.8);
    color: #1A1A7B;
}

.FinalPagina[class^="icon-"]:hover {
    background: white;
    color: #1A1A7B;
}

.PiePaginaSocial {
}

.PiePaginaDerechos {
    padding: 1px;
    color: silver;
}



/* medias  de secciones  del tamaño mas chico al grande*/
/* celular muy pequeño  */
@media (max-width: 499px) {
  
    body {
     
    }

}

/* celular grande  o tableta   */
@media (min-width:499px ) and (max-width: 920px) {
    body {
    }

}
/* medias equio de computo laptop o patalla */
@media (min-width:920px ) and (max-width: 1299px) {
    body {
    }
}
